<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    <script src="https://kit.fontawesome.com/35c3fc4174.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <h1>My List</h1>

        <!-- <input type="text" v-model.trim="newTask.text" placeholder="Scrivi qui">
        <small>{{error}}</small>
        <button @click="addTask()">Registra</button> -->

        <ul v-for="(todo, index) in tasks">
            <li v-if="!todo.done" :style="style">{{todo.text}}
                <i @click="remove(index)" class="fa-solid fa-square-xmark"></i>
            </li>
            <li v-else>
                {{todo.text}}
                <i @click="remove(index)" class="fa-solid fa-square-xmark"></i>
            </li>

        </ul>

        <!-- <ul v-if="tasks.length > 0"></ul> -->
        <!-- <p v-else>A quanto pare non hai altro da fare oggi, bravo!</p> -->


    </div>





    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>